:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark-green: #023924;
  --color-off-black: #0b0b0b;
  --color-light-green: #3f9384;
  --color-light-grey: #e2e1de;
  --color-dark-grey: #88959a;
  --color-mustard: #fad768;
  --color-yellow: #ffdb00;
  --color-purple: #cd88a9;
  --color-pink: #f2aeb6;
}
