.about {
  display: flex;
  flex-direction: column;
  height: content;
  margin: 20px 15px 0;

  @media (min-width: 768px) {
    height: 700px;
    margin: 20px 30px 0;
  }

  @media (min-width: 1024px) {
    margin: 30px 45px 0;
  }

  @media (min-width: 1440px) {
    height: 900px;
    margin: 30px 60px 0;
  }

  &__title {
    padding-bottom: 20px;

    @media (min-width: 768px) {
      padding-bottom: 30px;
    }
  }

  &__intro {
    padding-bottom: 60px;
  }

  &__content {
    align-self: center;
    padding-bottom: 40px;

    @media (min-width: 1024px) {
      width: 60%;
    }

    &__info {
      display: none;

      &-img {
        height: 200px;
        object-fit: cover;
        width: 100%;

        @media (min-width: 1024px) {
          height: 300px;
          width: 350px;
        }
      }

      &-text {
        margin: 20px 0 0;

        @media (min-width: 1024px) {
          margin: 0 0 0 20px;
        }
      }

      &--active {
        @media (min-width: 1024px) {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__timeline {
    @media (min-width: 1024px) {
      border-top: 3px solid var(--color-light-green);
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
    }

    &__date {
      @media (min-width: 1024px) {
        transform: rotate(270deg);
        white-space: nowrap;
        transition: 0.5s;
        color: var(--color-pink);
      }

      &-text {
        text-align: center;
      }

      &:hover {
        transform: rotate(0deg);
      }

      &--active {
        transform: rotate(0deg);
        color: var(--color-mustard);
      }
    }
  }
}
